In [15]:
import numpy as np
import pandas as pd

from math import sqrt
from sklearn.metrics  import mean_squared_error
from sklearn.metrics import pairwise_distances
from sklearn.neighbors import NearestNeighbors

In [16]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [17]:
movies = pd.read_csv('movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [18]:
dataset = pd.merge(ratings,movies, on='movieId').drop(['timestamp', 'genres'], axis= 1)
dataset.head()

   userId  movieId  rating             title
0       1        1     4.0  Toy Story (1995)
1       5        1     4.0  Toy Story (1995)
2       7        1     4.5  Toy Story (1995)
3      15        1     2.5  Toy Story (1995)
4      17        1     4.5  Toy Story (1995)

In [19]:
missing_pivot = dataset.pivot_table(values='rating', index='userId', columns='title')

rate = {}
rows_indexes = {}

for i, row in missing_pivot.iterrows():
    rows = [x for x in range(0,len(missing_pivot.columns))]
    combine = list(zip(row.index, row.values, rows))
    rated = [(x,z) for x,y,z in combine if str(y) != 'nan']
    index = [i[1] for i in rated]
    row_names = [i[0] for i in rated]
    rows_indexes[i] = index
    rate[i] = row_names

missing_pivot.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
pivot_table = dataset.pivot_table(values= 'rating', index= 'userId', columns= 'title').fillna(0)
pivot_table = pivot_table.apply(np.sign)


notrated = {}
notrated_indexes = {}

for i,row in pivot_table.iterrows():
    rows = [x for x in range(0, len(missing_pivot.columns))]
    combine = list(zip(row.index, row.values, row))
    idx_row = [(idx,col) for idx, val, col  in combine if not val > 0]
    indices = [i[1] for i in idx_row]
    row_names = [i[0] for i in idx_row]
    notrated[i] = row_names
    notrated_indexes[i] = indices

pivot_table.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
n = 5
nn = NearestNeighbors(n_neighbors=n, algorithm='brute', metric= 'cosine')
item_nn_fit = nn.fit(pivot_table.T.values)
item_distance, item_indices = item_nn_fit.kneighbors(pivot_table.T.values)

In [22]:
item_dic = {}
for i in range(len(pivot_table.T.index)):
    item_idx = item_indices[i]
    col_names = pivot_table.T.index[item_idx].tolist()
    item_dic[pivot_table.T.index[i]] = col_names

In [23]:
topRecs = {}
for k,v in rows_indexes.items():
    item_idx = [j for i in item_indices[v] for j in  i]
    item_dist = [j for i in item_distance[v] for j in i]
    combine = list(zip(item_dist, item_idx))
    diction = {1:d for d,i in  combine if i not in v}
    zipped = list(zip(diction.keys(), diction.values()))
    sort = sorted(zipped, key=lambda x:x[1])
    recommendations = [(pivot_table.columns[i], d) for i,d in sort]
    topRecs[k] = recommendations

In [32]:
def getrecommendations(user, number_of_recs = 30):
    if user > len(pivot_table.index):
        print('Out of Range, there are only {} users, try number below!'.format(len(pivot_table.index)))
    else:
        print("You watched these movies: \n\n{}".format('\n'.join(rate[user])))
        print()
        print('Recommended Movies:\n')
    for k,v in topRecs.items():
        if user == k:
            for i in v[:number_of_recs]:
                print('{} with similarity: {:.4f}'.format(i[0], 1 - i[1]))

In [34]:
getrecommendations(534)

You watched these movies:

101 Dalmatians (One Hundred and One Dalmatians) (1961)
10th Kingdom, The (2000)
2 Fast 2 Furious (Fast and the Furious 2, The) (2003)
2012 (2009)
21 Jump Street (2012)
22 Jump Street (2014)
300 (2007)
40-Year-Old Virgin, The (2005)
47 Ronin (2013)
50 First Dates (2004)
A-Team, The (2010)
A.I. Artificial Intelligence (2001)
Absolutely Anything (2015)
Ace Ventura: Pet Detective (1994)
Ace Ventura: When Nature Calls (1995)
Adventures of Tintin, The (2011)
Aeon Flux (2005)
Aladdin (1992)
Amazing Spider-Man, The (2012)
American Beauty (1999)
American History X (1998)
American Pie (1999)
American Pie Presents: Band Camp (American Pie 4: Band Camp) (2005)
Anacleto: Agente secreto (2015)
Anastasia (1997)
Angriest Man in Brooklyn, The (2014)
Animatrix, The (2003)
Ant-Man (2015)
Antz (1998)
Armageddon (1998)
Army of Darkness (1993)
As Good as It Gets (1997)
Asterix & Obelix vs. Caesar (Astérix et Obélix contre César) (1999)
Asterix & Obelix: Mission Cleopatra (Astérix & Obélix: Mission Cléopâtre) (2002)
Asterix at the Olympic Games (Astérix aux jeux olympiques) (2008)
Asterix in America (a.k.a Asterix Conquers America) (Astérix et les Indiens) (1994)
Atlantis: The Lost Empire (2001)
Attack the Block (2011)
Austin Powers: International Man of Mystery (1997)
Austin Powers: The Spy Who Shagged Me (1999)
Avatar (2009)
Avengers, The (2012)
Avengers: Age of Ultron (2015)
Babe (1995)
Back to the Future (1985)
Back to the Future Part II (1989)
Back to the Future Part III (1990)
Bambi (1942)
Batman & Robin (1997)
Batman (1989)
Batman Begins (2005)
Batman Forever (1995)
Batman Returns (1992)
Batman v Superman: Dawn of Justice (2016)
Battleship (2012)
Battlestar Galactica (2003)
Battlestar Galactica: Razor (2007)
Battlestar Galactica: The Plan (2009)
Beautiful Mind, A (2001)
Bee Movie (2007)
Beetlejuice (1988)
Behind Enemy Lines (2001)
Big Hero 6 (2014)
Blade (1998)
Bolt (2008)
Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan (2006)
Bourne Identity, The (2002)
Brave (2012)
Bruce Almighty (2003)
Bug's Life, A (1998)
Cable Guy, The (1996)
Campaign, The (2012)
Captain America: The First Avenger (2011)
Captain America: The Winter Soldier (2014)
Casino Royale (2006)
Casper (1995)
Change-Up, The (2011)
Chicken Run (2000)
Children of Men (2006)
Chronicles of Riddick, The (2004)
Clash of the Titans (2010)
Clerks (1994)
Click (2006)
Cloud Atlas (2012)
Cloudy with a Chance of Meatballs (2009)
Congo (1995)
Coraline (2009)
Corpse Bride (2005)
Cowboys & Aliens (2011)
Crank (2006)
Croods, The (2013)
Curious Case of Benjamin Button, The (2008)
Dangerous Minds (1995)
Dark Knight, The (2008)
Date Night (2010)
Dawn of the Planet of the Apes (2014)
Day After Tomorrow, The (2004)
Daybreakers (2010)
Daylight (1996)
Dead Snow (Død snø) (2009)
Dead Snow 2: Red vs. Dead (2014)
Deadpool (2016)
Death Proof (2007)
Death Race (2008)
Death Race 2000 (1975)
Deep Impact (1998)
Demolition Man (1993)
Despicable Me (2010)
Despicable Me 2 (2013)
Die Hard (1988)
Die Hard 2 (1990)
Die Hard: With a Vengeance (1995)
Dinner for Schmucks (2010)
Dinotopia (2002)
District 13 (Banlieue 13) (2004)
Divergent (2014)
Django Unchained (2012)
Dodgeball: A True Underdog Story (2004)
Doomsday (2008)
Dr. No (1962)
Dragon Blade (2015)
Dragonheart (1996)
Dredd (2012)
Dumb & Dumber (Dumb and Dumber) (1994)
E.T. the Extra-Terrestrial (1982)
Easy A (2010)
Edge of Tomorrow (2014)
Edward Scissorhands (1990)
Elysium (2013)
Empire of the Sun (1987)
Enchanted (2007)
Ender's Game (2013)
Expendables 2, The (2012)
Expendables, The (2010)
Fantasia (1940)
Fantasia 2000 (1999)
Fantastic Four (2005)
Fantastic Four (2015)
Fast & Furious (Fast and the Furious 4, The) (2009)
Fast & Furious 6 (Fast and the Furious 6, The) (2013)
Fast Five (Fast and the Furious 5, The) (2011)
Fast and the Furious, The (2001)
Fast and the Furious: Tokyo Drift, The (Fast and the Furious 3, The) (2006)
Fifth Element, The (1997)
Final Fantasy VII: Advent Children (2004)
Final Fantasy: The Spirits Within (2001)
Finding Nemo (2003)
Forbidden Kingdom, The (2008)
Forgetting Sarah Marshall (2008)
Forrest Gump (1994)
Fox and the Hound, The (1981)
Freaks of Nature (2015)
Free Willy 2: The Adventure Home (1995)
From Russia with Love (1963)
Frozen (2013)
Furious 7 (2015)
G.I. Joe: Retaliation (2013)
G.I. Joe: The Rise of Cobra (2009)
Gamer (2009)
Gangs of New York (2002)
George of the Jungle (1997)
Get Smart (2008)
Ghostbusters (a.k.a. Ghost Busters) (1984)
Ghostbusters II (1989)
Girl Who Leapt Through Time, The (Toki o kakeru shôjo) (2006)
Gladiator (2000)
Golden Compass, The (2007)
GoldenEye (1995)
Goldfinger (1964)
Good Day to Die Hard, A (2013)
Good, the Bad, the Weird, The (Joheunnom nabbeunnom isanghannom) (2008)
Goonies, The (1985)
Green Hornet, The (2011)
Gremlins (1984)
Gremlins 2: The New Batch (1990)
Grown Ups (2010)
Grown Ups 2 (2013)
Guardians of the Galaxy (2014)
Hancock (2008)
Hangover Part II, The (2011)
Hangover Part III, The (2013)
Hangover, The (2009)
Hansel & Gretel: Witch Hunters (2013)
Happy Gilmore (1996)
Harold & Kumar Escape from Guantanamo Bay (2008)
Harold and Kumar Go to White Castle (2004)
Harry Potter and the Chamber of Secrets (2002)
Harry Potter and the Goblet of Fire (2005)
Harry Potter and the Prisoner of Azkaban (2004)
Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)
Hellboy (2004)
Hellboy II: The Golden Army (2008)
Hercules (1997)
Hercules (2014)
Here Comes the Boom (2012)
Hero (Ying xiong) (2002)
Hitchhiker's Guide to the Galaxy, The (2005)
Hobbit: An Unexpected Journey, The (2012)
Hobbit: The Desolation of Smaug, The (2013)
Home (2015)
Home Alone (1990)
Home Alone 2: Lost in New York (1992)
Honey, I Shrunk the Kids (1989)
Hook (1991)
Horrible Bosses (2011)
Hot Fuzz (2007)
Hotel Transylvania (2012)
How to Lose Friends & Alienate People (2008)
How to Train Your Dragon (2010)
How to Train Your Dragon 2 (2014)
Hunchback of Notre Dame, The (1996)
I Am Legend (2007)
I Love You, Man (2009)
I Now Pronounce You Chuck and Larry (2007)
I, Robot (2004)
Ice Age (2002)
Inbetweeners 2, The (2014)
Inbetweeners Movie, The (2011)
Inception (2010)
Incredible Hulk, The (2008)
Incredibles, The (2004)
Independence Day (a.k.a. ID4) (1996)
Indiana Jones and the Kingdom of the Crystal Skull (2008)
Indiana Jones and the Last Crusade (1989)
Indiana Jones and the Temple of Doom (1984)
Inglourious Basterds (2009)
Inkheart (2008)
Inside Out (2015)
Inspector Gadget (1999)
Interstellar (2014)
Interview with the Vampire: The Vampire Chronicles (1994)
Ip Man (2008)
Iron Man (2008)
Iron Man 2 (2010)
Iron Man 3 (2013)
Jack Reacher (2012)
Jack the Giant Slayer (2013)
Jaws (1975)
John Carter (2012)
John Wick (2014)
Johnny English (2003)
Johnny English Reborn (2011)
Judge Dredd (1995)
Jumanji (1995)
Jumper (2008)
Jurassic Park (1993)
Jurassic Park III (2001)
Jurassic World (2015)
Just Go with It (2011)
K-PAX (2001)
Karate Kid, The (2010)
Kick-Ass (2010)
Kick-Ass 2 (2013)
Kill Bill: Vol. 1 (2003)
Kill Bill: Vol. 2 (2004)
King Arthur (2004)
King Kong (2005)
Kingsman: The Secret Service (2015)
Knight and Day (2010)
Knocked Up (2007)
Knowing (2009)
Kung Fu Hustle (Gong fu) (2004)
Kung Fu Panda (2008)
Kung Fu Panda 2 (2011)
Lady and the Tramp (1955)
Land of the Lost (2009)
Last Airbender, The (2010)
Last Samurai, The (2003)
Legend of the Guardians: The Owls of Ga'Hoole (2010)
Lemony Snicket's A Series of Unfortunate Events (2004)
Liar Liar (1997)
Librarian, The: The Curse of the Judas Chalice (2008)
Librarian: Quest for the Spear, The (2004)
Librarian: Return to King Solomon's Mines, The (2006)
Life Is Beautiful (La Vita è bella) (1997)
Lilo & Stitch (2002)
Lion King, The (1994)
Little Mermaid, The (1989)
Little Miss Sunshine (2006)
Live Free or Die Hard (2007)
Lone Ranger, The (2013)
Looper (2012)
Lord of the Rings: The Fellowship of the Ring, The (2001)
Lord of the Rings: The Return of the King, The (2003)
Lord of the Rings: The Two Towers, The (2002)
Lost World: Jurassic Park, The (1997)
Lost in Space (1998)
Mad Max: Fury Road (2015)
Madagascar (2005)
Mallrats (1995)
Man in the Iron Mask, The (1998)
Man of Steel (2013)
Man of Tai Chi (2013)
Mars Needs Moms (2011)
Mask, The (1994)
Matrix, The (1999)
Maze Runner, The (2014)
Me, Myself & Irene (2000)
Meet the Fockers (2004)
Meet the Parents (2000)
Meet the Robinsons (2007)
Megamind (2010)
Men in Black (a.k.a. MIB) (1997)
Men in Black II (a.k.a. MIIB) (a.k.a. MIB 2) (2002)
Men in Black III (M.III.B.) (M.I.B.³) (2012)
Minority Report (2002)
Mirror Mirror (2012)
Mission: Impossible - Ghost Protocol (2011)
Mission: Impossible - Rogue Nation (2015)
Mission: Impossible III (2006)
Monsters vs. Aliens (2009)
Monsters, Inc. (2001)
Mortadelo & Filemon: The Big Adventure (La gran aventura de Mortadelo y Filemón) (2003)
Mortal Kombat (1995)
Mr. Deeds (2002)
Mrs. Doubtfire (1993)
Mulan (1998)
Mummy Returns, The (2001)
Mummy, The (1999)
Mummy: Tomb of the Dragon Emperor, The (2008)
National Treasure (2004)
Need for Speed (2014)
Neighbors (2014)
NeverEnding Story, The (1984)
Next (2007)
Night at the Museum (2006)
Nightmare Before Christmas, The (1993)
Now You See Me (2013)
Nutty Professor, The (1996)
Oblivion (2013)
Ocean's Eleven (2001)
Ocean's Twelve (2004)
On Her Majesty's Secret Service (1969)
One, The (2001)
Other Guys, The (2010)
Over the Hedge (2006)
Oz the Great and Powerful (2013)
Pan (2015)
Paperman (2012)
Paul (2011)
Paul Blart: Mall Cop (2009)
Paul Blart: Mall Cop 2 (2015)
Percy Jackson & the Olympians: The Lightning Thief (2010)
Pink Panther 2, The (2009)
Pink Panther, The (2006)
Pinocchio (1940)
Pirates of the Caribbean: At World's End (2007)
Pirates of the Caribbean: Dead Man's Chest (2006)
Pirates of the Caribbean: The Curse of the Black Pearl (2003)
Pitch Black (2000)
Pitch Perfect (2012)
Pitch Perfect 2 (2015)
Pocahontas (1995)
Premium Rush (2012)
Prince of Egypt, The (1998)
Prometheus (2012)
Purge: Anarchy, The (2014)
Quantum of Solace (2008)
Race to Witch Mountain (2009)
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)
Rat Race (2001)
Ratatouille (2007)
Red (2010)
Rescuers Down Under, The (1990)
Resident Evil (2002)
Return of the Living Dead, The (1985)
Riddick (2013)
Rise of the Guardians (2012)
Rise of the Planet of the Apes (2011)
Road to El Dorado, The (2000)
Robin Hood (2010)
RoboCop (1987)
RoboCop (2014)
RoboCop 2 (1990)
RoboCop 3 (1993)
Robots (2005)
Role Models (2008)
Rush Hour (1998)
Rush Hour 2 (2001)
San Andreas (2015)
Saving Private Ryan (1998)
School of Rock (2003)
Scott Pilgrim vs. the World (2010)
Season of the Witch (2011)
Secret Life of Walter Mitty, The (2013)
Seeking a Friend for the End of the World (2012)
Seven (a.k.a. Se7en) (1995)
Seventh Son (2014)
Shanghai Knights (2003)
Shanghai Noon (2000)
Shaun of the Dead (2004)
Sherlock Holmes (2009)
Sherlock Holmes: A Game of Shadows (2011)
Shrek (2001)
Shrek 2 (2004)
Shrek the Third (2007)
Silence of the Lambs, The (1991)
Simpsons Movie, The (2007)
Sin City (2005)
Sinbad: Legend of the Seven Seas (2003)
Sisterhood of the Traveling Pants, The (2005)
Sitter, The (2011)
Six Days Seven Nights (1998)
Sixth Sense, The (1999)
Skyfall (2012)
Slumdog Millionaire (2008)
Snatch (2000)
Snow White and the Huntsman (2012)
Snowpiercer (2013)
Sorcerer's Apprentice, The (2010)
Source Code (2011)
South Park: Bigger, Longer and Uncut (1999)
Spawn (1997)
Spider-Man (2002)
Spider-Man 2 (2004)
Spider-Man 3 (2007)
Stalingrad (2013)
Star Trek (2009)
Star Trek Into Darkness (2013)
Star Wars: Episode I - The Phantom Menace (1999)
Star Wars: Episode II - Attack of the Clones (2002)
Star Wars: Episode III - Revenge of the Sith (2005)
Star Wars: Episode IV - A New Hope (1977)
Star Wars: Episode V - The Empire Strikes Back (1980)
Star Wars: Episode VI - Return of the Jedi (1983)
Star Wars: Episode VII - The Force Awakens (2015)
Star Wars: The Clone Wars (2008)
Stardust (2007)
Stargate (1994)
Starship Troopers (1997)
Street Fighter (1994)
Sukiyaki Western Django (2008)
Summer Wars (Samâ wôzu) (2009)
Superbad (2007)
Superman (1978)
Superman Returns (2006)
Surrogates (2009)
Switch, The (2010)
Sword of the Stranger (Sutorejia: Mukô hadan) (2007)
Tangled (2010)
Team America: World Police (2004)
Ted (2012)
The Amazing Spider-Man 2 (2014)
The Butterfly Effect (2004)
The Expendables 3 (2014)
The Girl with All the Gifts (2016)
The Hobbit: The Battle of the Five Armies (2014)
The Hunger Games (2012)
The Last Witch Hunter (2015)
The Lego Movie (2014)
The Man from Nowhere (2010)
The Man from U.N.C.L.E. (2015)
The Martian (2015)
The Odyssey (1997)
The Raid 2: Berandal (2014)
The Raid: Redemption (2011)
The Scorpion King (2002)
There's Something About Mary (1998)
This Is 40 (2012)
This Means War (2012)
Thor (2011)
Thor: The Dark World (2013)
Three Musketeers, The (2011)
Thunderball (1965)
Titanic (1997)
Tomorrowland (2015)
Total Recall (2012)
Toy Story (1995)
Toy Story 2 (1999)
Transformers (2007)
Transformers: Age of Extinction (2014)
Transformers: Dark of the Moon (2011)
Transformers: Revenge of the Fallen (2009)
Transporter, The (2002)
Treasure Planet (2002)
Tremors (1990)
Tron: Legacy (2010)
Tropic Thunder (2008)
Troy (2004)
Truman Show, The (1998)
Tucker & Dale vs Evil (2010)
Tuxedo, The (2002)
Twister (1996)
Ugly Truth, The (2009)
Ultraviolet (2006)
Underworld (2003)
Up (2009)
V for Vendetta (2006)
WALL·E (2008)
Wanderlust (2012)
Wanted (2008)
Warm Bodies (2013)
Watch, The (2012)
Watchmen (2009)
Waterworld (1995)
Wedding Crashers (2005)
What We Do in the Shadows (2014)
Who Framed Roger Rabbit? (1988)
Wolf Children (Okami kodomo no ame to yuki) (2012)
Wolverine, The (2013)
World War Z (2013)
World's End, The (2013)
Wrath of the Titans (2012)
Wreck-It Ralph (2012)
Wyrmwood (2015)
X-Men (2000)
X-Men Origins: Wolverine (2009)
X-Men: Days of Future Past (2014)
X-Men: First Class (2011)
X-Men: The Last Stand (2006)
X2: X-Men United (2003)
Year One (2009)
Yes Man (2008)
You Are the Apple of My Eye (2011)
You Don't Mess with the Zohan (2008)
You Only Live Twice (1967)
Your Highness (2011)
Zack and Miri Make a Porno (2008)
Zombieland (2009)
Zoolander (2001)

Recommended Movies:

'Hellboy': The Seeds of Creation (2004) with similarity: 0.5369

In [29]:
item_distance = 1 - item_distance
predictions = item_distance.T.dot(pivot_table.T.values)/np.array([np.abs(item_distance.T).sum(axis=1)]).T
ground_truth = pivot_table.T.values[item_distance.argsort()[0]]

def rmse(prediction, ground_truth):
    prediction = prediction[ground_truth.nonzero()].flatten()
    ground_truth = ground_truth[ground_truth.nonzero()].flatten()
    return sqrt(mean_squared_error(prediction, ground_truth))

error_rate = rmse(predictions, ground_truth)
print("Accuracy: {:.3f}".format(100-error_rate))
print("RMSE: {:.5f}".format(error_rate))

Accuracy: 99.051
RMSE: 0.94922